{{!< default}}
<div class="gh-page">
    <div class="container px-4 py-4 sm:px-6 lg:px-8  2xl:px-10 lg:py-8 mx-auto">

        <div class="grid sm:grid-cols-2 lg:grid-cols-3 gap-6">
        {{#foreach posts}}

            {{> "card" page=../pagination.page }} {{!-- partials/card.hbs --}}

        {{/foreach}}
        </div>

        {{!-- If JS isn't enabled, fallback to standard pagination --}}
        <noscript>
            <div class="gh-pagination">
                {{pagination}}
            </div>
        </noscript>
    </div>
</div>
